html, body{
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.container{
  width: 960px;
  margin: 0 auto;
}

.main {
  margin-top: 0;
  background: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
}



.logo-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
  margin-top:0;/* when I give this a value it moves the entire .main container down .. do not understand why */
  position: relative;   /* so I used this  and setting top below to give me a top margin to the logo-navbar */
  top: 1em;
  padding: 1rem 0;
  margin-bottom: 10rem;

}

.logo{
  display: flex;
  justify-content: center;

}


.logo-navbar img{
  padding-right: 1rem;
  padding-left: 2rem;
  height: 1.5rem;
}

.logo-navbar .mobile-logo{
  display: none;
}

.logo-navbar .desktop-nav span{
  display: inline-block;
  font-size:1rem;
  margin-right: 2rem;
  margin-left: 0;

}

.mobile-nav {
  display: none;
}

.banner{
   text-align: right;
}

.banner span{
  display: inline-block;
  background-color: white;
  color: gray;
  padding: 1.5rem 5rem;
  width:auto;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

/* modifications for tablet view*/

@media only screen and (max-width: 1024px){

  .container{
    width: 100%;
  }

  .logo-navbar{
      top:0;
      margin-bottom: 5rem;
    }

.main{
    height: 22rem;
}

.banner span{
  font-size: 1.33rem;
  padding: .75rem 4rem;
  margin-right: 2rem;
}

}

/*** modifications for phones */

@media only screen and (max-width: 450px){

    .main{
      background-position: 20%;
      height: 17rem;
    }

    .logo-navbar{
      justify-content: space-around;
      margin-bottom: 9rem;

    }
    .logo-navbar .logo{
          display:none;
      }

    .logo-navbar .mobile-logo{
        display: block;
      }
/* hide the desktop navbar and replace with mobile navbar */
    .desktop-nav{
      display: none;
    }
    .mobile-nav{
      display:inline-block;
      text-align: left;

    }

    .banner span{
      text-align: center;
      font-size: 1rem;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      padding-top:1rem;
      padding-bottom: 1rem;
      padding-left: 0;
      padding-right: 0;

    }


}

/* Services Icon Section */

/* I made the services class a flexcontainer to give me a nice row layout */

.services{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}


/* This flex container was added to center the text under the icons */
.service-option{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-option.exams img{
  width: 3.5rem;
  margin-right: 3rem;
}

.service-option.fittings img{
  width: 5rem;
  padding-right: 6rem;
}

.service-option.delivery img{
  width: 5rem;
}
/* ISSUE: I made the service-icon a flexcontainer because they do it in the SecretAgent supply class and it works but I am not sure why */

.service-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}



.description p{
  text-align: center;
  line-height: .2rem;
  font-weight: bold;

}

.fittings p{
  padding-right: 5rem;

}

.exams p{
  padding-right: 3rem;

}

/* Business Information Section */

.business-info{
   margin-top: 3rem;
  display:flex;
  justify-content: center;
}

.business-info span{
  background-color: cadetblue;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  width: 10rem;
  padding-left: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

.business-info p{
  margin-top: 0;
}

.philosophy{
  display:flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}

.appointments{
  display:flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}

@media only screen and (max-width: 450px){


 /* ISSUE: Modifications to service icons for phones.. having hard time getting things to center */
  .services{

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service-option.exams img{
    width: 3.5rem;
    margin-right: auto;
  }

/** Modifications to Philosphy and Appointments for phones **/

.business-info span{
  margin-left:0;
  width: 100%;
  text-align: center;
}

  .business-info{
     margin-top: 3rem;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-left: 0;

  }

  .business-info p{
    text-align: left;
    font-size: .77rem;
    margin-left: 1rem;

  }
  .philosophy{
    width: 100%;
    margin-bottom: 3rem;
  }
  .appointments{
    width: 100%;
  }

    .copyright span{
      display: none;
    }

  .copyright{
  justify-content: center;

  }

}
/* ISSUE: I made the copyright a flex container to get the text to sit next to the icon.. is it necessary */

.copyright{
  margin-top:5rem;
  background-color: azure;
  height: 9.5rem;
  display: flex;
}

.copyright img{
  margin: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}

.copyright span{
  margin-top: 4rem;
}
