html, body{
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.container{
  width: 960px;
}

.logo-navbar{
  display: flex;
  justify-content: space-between;
  margin-top:1rem;
  background-color: cadetblue;
  color: white;
  padding: 1rem 2rem;
}

.logo-navbar img{
  padding-right: 1rem;
  height: 1rem;
}

.logo-navbar span{
  display: inline-block;
  font-size:1rem;
  margin-right: 2rem;
  margin-left: 0;

}
